@page "/historico"
@using System.Net.Http.Json
@using BankTrackerShared.Core.Modelos
@using BankTrackerShared.Core.Tipos
@using BankTrackerShared.Shared.DTOs

@if (!string.IsNullOrEmpty(mensajeError))
{
    @* Si hay un error, mostramos SOLO el mensaje de error y un botón para reintentar *@
    <div class="d-flex flex-column align-center justify-center mt-16">
        <MudAlert Severity="Severity.Error" Variant="Variant.Filled" Class="my-4">
            @mensajeError
        </MudAlert>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Reintentar">
            Reintentar conexión
        </MudButton>
    </div>
}
else if (!isAuthorized)
{
    @* Muestra esto mientras se comprueba el token o se cargan los datos *@
    <div class="d-flex flex-column align-center justify-center mt-16">
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
        <MudText Typo="Typo.h6" Class="mt-4">Verificando autorización...</MudText>
    </div>
}
else
{
    <MudTable Style="width:100%;" Items="@Elements" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<Tabla, bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1" RowsPerPage="@_rowsPerPage">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Historial Bancario</MudText>
            @if (_onSearcher)
            {
                <MudTextField @bind-Value="searchString1" Placeholder="Buscar" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            }
            <MudSpacer />
            <MudButton Variant="Variant.Filled" Size="Size.Medium" Color="Color.Tertiary" @onclick="AbrirDialogo">
                <MudIcon Icon="@Icons.Material.Filled.AddCircleOutline" Title="Crear" Size="Size.Small" />
                Crear
            </MudButton>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Cantidad</MudTh>
            <MudTh>Concepto</MudTh>
            <MudTh>Fecha</MudTh>
            <MudTh>Tipo de Movimiento</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="cantidad">@context.Cantidad</MudTd>
            <MudTd DataLabel="concepto">@context.Concepto</MudTd>
            <MudTd DataLabel="fecha">@context.Fecha</MudTd>
            <MudTd DataLabel="tipo_movimiento">@context.TipoMovimiento</MudTd>
        </RowTemplate>
        <PagerContent>
            @if (_onPagerContent)
            {
                <MudTablePager HideRowsPerPage />
            }
        </PagerContent>
    </MudTable>
}
